<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Contact Us</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Country</a></li>
        <li><a href="#">Entertainment</a></li> 
        <li><a href="#">PairBnB Suggestions</a></li> 
      </ul>
    </div>
  </div>
</nav>



<div>
<h1><font color="red">Pair BnB</font><h1>
<h3>Home#index</h3>
<p>Find me in app/views/home/index.html.erb</p>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12"><img class="img-responsive" src="http://www.conferencesthatwork.com/wp-content/uploads/2014/01/airbnb-growth-tweet.jpg" alt="Via PairBnB"></div>
  </div>
  <div class="row">
    <div class="col-md-4">Left test-column</div>
    <div class="col-md-4">Center test-column</div>
    <div class="col-md-3">Right test-column</div>
   
     <div>
	

			 <br>
			 <h2>List Your Space</h2>

			<p>We encourage you to share all kinds of spaces on Airbnb! Whether you’re offering a seaside villa or an air mattress in the corner of your living room, it’s free to list your space. When you’re ready to start welcoming guests, you can publish your listing for the world to see.</p>

			<h2>Learn More</h2>
			<h3>Description and amenities</h3>

			<p>Guests often search for spaces that meet specific needs, so accurately describing your listing and the amenities you offer will help attract the kinds of guests that are best for you. When telling the story of your space, answer important questions like whether or not you have Wifi, and include helpful details about the character, activities, and transportation options in the surrounding area.</p>
			<br>
			<h3>Photos</h3>

			<p>Photographs help guests picture themselves in your space. Go ahead and upload up to 24 images, and make sure your photos are well lit, in focus, and representative of the actual space your guests have access to.</p>

			<p>We love lush imagery, so we offer free professional photography to active hosts in most areas. Apply online and we'll send a professional photographer to capture your listing in its best light.</p>

			<h3>Pricing and availability</h3>

			<p>You know your space and your schedule best, so we let you decide the price and we ask you to update your calendar to reflect when it’s available to rent. We also allow you to set custom prices for individual nights and weekends, special events, and monthly stays. We display your listing at the price you set and when you indicate that your space is unavailable, we make sure not to show it in search results.</p>
  	</div>
  <div class="row">
  <br>
  <br>
    <button type="button" class="btn btn-danger">Become a Host</button>
    <br>
  </div>
</div>

<br>

<div class="jumbotron">
<h3><center> Hosted over 1,000,000 stays all over the world</center></h3>
</div>

   